.start{
    background: #121212;
    width:25em;
    height: 10em; 
    position: fixed;
    top: 5px;
    left: 10px;
    right: 0;
    border-radius: 10px;
    position: fixed;
}

.logobr img{
    width: 5%;
    margin-left: -20em;
    margin-top: 10px;
    position: relative;
}
.inicio p{
    margin-top: -30px;
    margin-left: -12em;
    font-weight: bold;
    position: relative;
}

.casa img{
    width: 5%;
    margin-left: -20em;
    margin-top: 1px;
    position: relative;
}
.casa h3{
    margin-left: -12em;
    margin-top: -30px;
    position: relative;
    color: #bababa;
}
.lupa img{
    width: 5%;
    margin-left: -20em;
    margin-top: -10px;
    position: relative;
}
.lupa h3{
    margin-left: -12em;
    margin-top: -30px;
    position: relative;
    color: #bababa;
}

.biblioteca {
     background: #121212;
     width: 25em;
     height: 40em;
     margin-left: -47.2em;
     margin-top: 9em;
     border-radius: 20px;
}
.first{
    display: flex;
    flex-direction: row;
}
.aba h3{
    color: #bababa;
    margin-top: -3em;
    padding-left: 6em;
}

.aba img{
    width: 40%;
    margin-left: -8em;
}

.more img{
    width: 15%;
    padding-top: 25px;
    margin-right: -5em;
}